html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 230px;
  overflow: hidden;
  transition: width 0.5s;
  /* top: 56px;
  left: 0; */
  /* padding-top: 20px; */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px); /* Ajuste conforme a altura do seu navbar */
  /* padding-top: 0.5rem; */
  overflow-x: hidden;
  overflow-y: auto;
}

.total {
  background-color: #ffffff; /* Cor de fundo da parte inferior da página */
  min-height: 90vh;
  max-height: 200vh;
}
.nav-link {
  .a {
    text-decoration: none;
  }
}

.cabecalho {
  background-color: #051d40;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.corpo {
  padding: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: white;
}

.logoLogin {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 10px;
}

.cabecalho {
  padding: 15px;
  background-color: #051d40;

  display: flex;
  justify-content: center;
  align-content: center;
}
